DB_URL=postgresql://learner_07.kinvnijgeqoqgwxnrzil:YOUR_PASSWORD@aws-1-us-west-2.pooler.supabase.com:5432/postgres?sslmode=require

INDUSTRY=healthcare

# Your personal learner schema (assigned by your instructor)
LEARNER_SCHEMA=learner_07